@page
@model DotaModel
@{
    ViewData["Title"] = "This is Dota 2";
}

<link href="~/css/Dota2.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>

<p>Visit the Website of <a href="https://www.dota2.com/esports/ti12/schedule"> Dota 2</a>. to Play and Download the Game</p>

<p>Welcome to the epic realm of Dota 2, a pinnacle of strategic multiplayer online battle arenas (MOBAs) where heroes clash, alliances are forged, and intense battles unfold. Join us as we delve into this immersive world, where skillful gameplay and tactical brilliance define the path to victory.</p>

<table>
    <tr>
        <td> <img src="~/css/dotagp1.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/dotagp2.jpg" width="300" height="180"> </td>
    </tr>
    <tr>
        <td> <img src="~/css/dotagp3.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/dotagp4.jpg" width="300" height="180"> </td>
    </tr>
</table>
<div class="dt">
    <h2>The Reviews of Dota 2 according to Metacritic as of 2023</h2>
<div class="r1">
    <p>Literally worse than LoL and i didnt know you can be that bad.Graphics is bad, community is horrible, gameplay is ****. There is no other point playing it than trolling other idiot players.</p>
</div>
<div class="r2">
    <p> Game was fantastic in the early days, I used to spend 100, 200 usd monthly in cosmetics, amazing experience... till they changed MMR, from a sudden facing all sorts of awful players. Now the patch 7.33 it's the final nail in Dota 2 coffin.</p>
</div>
<div class="r3">
    <p>Its gameplay intricacies make it a standout choice for those craving engaging multiplayer challenges.</p>
    </div>
</div>