@page
@model IndexModel
@{
    ViewData["Title"] = "Title";
}

<div class="text-center">
    <h1 class="display-4">Most Popular Esports PC Games</h1>
    <p>Visit the  <a href="https://escharts.com/top-games?order=peak">This site</a> for more other reference.</p>
    <p>Welcome to the thrilling world of esports, where virtual athletes compete in the most popular PC games, from the strategic battles of League of Legends and Dota 2 to the intense firefights of Counter-Strike: Global Offensive. Join us as we explore these digital arenas, where skill meets strategy, and players become champions in the ever-evolving landscape of competitive gaming.</p>
</div>