@page
@model LolModel
@{
    ViewData["Title"] = "This is League Of Legends";
}

<link href="~/css/Lol.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>

<p>Visit the Website of <a href="https://www.leagueoflegends.com/en-ph/"> League of Legends</a>. to Play and Download the Game</p>

<p>Welcome to the exhilarating universe of League of Legends, where strategic mastery and teamwork collide in a fast-paced digital arena. Join us as we dive into the world's premier multiplayer online battle arena (MOBA) game, where champions rise, epic clashes unfold, and the quest for victory knows no bounds.</p>

<table>
    <tr>
        <td> <img src="~/css/lolgp1.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/lolgp2.jpg" width="300" height="180"> </td>
    </tr>
    <tr>
        <td> <img src="~/css/lolgp3.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/lolgp4.jpg" width="300" height="180"> </td>
    </tr>
</table>
<div class="lol">
    <h2>The Reviews of League of Legends according to Metacritic as of 2023</h2>
    <div class="r1">
        <p>terrible game, waste of time and waste of health system of choice your teammates work versus you i spend too much money for this game but worse is I spend my lifetime in this piece of garbage.</p>
    </div>
    <div class="r2">
        <p>Terrible game, not worth playing. Gets worse every season, each new championis worse than the previous. Riot just milks customers for overpriced cosmetics. It is clear that they have given up on this.</p>
    </div>
    <div class="r3">
        <p>Toxic, ranked is broken, 0 team balance. Only bans people for chat restrict,but never someone who is straight inting.</p>
    </div>
</div>