@page
@model ALModel
@{
    ViewData["Title"] = "This is Apex Legends";
}

<link href="~/css/Al.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>

<p>Visit the Website of <a href="https://www.ea.com/games/apex-legends/play-now-for-free">Apex Legends</a>. to Play and Download the Game</p>

<p>Welcome to the dynamic universe of Apex Legends, a battle royale sensation where legends with unique abilities vie for supremacy in a fast-paced, squad-based format. Join us as we dive into the adrenaline-fueled action, showcasing the strategic gameplay and extraordinary feats that make Apex Legends a thrilling contender in the world of competitive gaming</p>

<table>
    <tr>
        <td> <img src="~/css/algp1.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/algp2.jpg" width="300" height="180"> </td>
    </tr>
    <tr>
        <td> <img src="~/css/algp3.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/algp4.jpg" width="300" height="180"> </td>
    </tr>



</table>

<div class="AL">
    <h2>The Reviews of Apex Legends according to Metacritic as of 2023</h2>
<div class="r1">
    <p>Satisfying gun gameplay, good graphics and interesting abilities. the game does greatly suffer from bad servers, pretty poor balancing and overpriced cosmetics.</p>
</div>
<div class="r2">
    <p>Apex has paid players thatdon’t like it when you perform at a higher level so they have to cheat and hack you to prevent it. I will never spend another dollar on this cheating game. I have video proof as well as statistical proof of my accusations. I officially am boycotting apex</p>
</div>
<div class="r3">
    <p>Decent, but get's old quickly. Plagued by abysmal matchmaking and low game mode variety.</p>
</div>
</div>