@page
@model CSModel
@{
    ViewData["Title"] = "This is Counter Strike: Global Offensive ";
}

<link href="~/css/Cs.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>

<p>Visit the Website of <a href="https://blog.counter-strike.net/"> CS:GO</a>. to visit the website</p>

<p>Welcome to the heart-pounding world of Counter-Strike: Global Offensive (CS:GO), where strategic gunplay and teamwork define the pinnacle of competitive first-person shooters. Join us as we unravel the intense battles and tactical maneuvers that make CS:GO a cornerstone of esports, where every shot counts and the pursuit of victory is relentless.</p>

<table>
    <tr>
        <td> <img src="~/css/csgp1.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/csgp2.jpg" width="300" height="180"> </td>
    </tr>
    <tr>
        <td> <img src="~/css/csgp3.jpg" width="300" height="180"> </td>
        <td> <img src="~/css/csgp4.jpg" width="300" height="180"> </td>
    </tr>
</table>
<div class="cs">
    <h2>The Reviews of Counter Strike: Global Offensive according to Metacritic as of 2023</h2>
<div class="r1">
    <p>One of the most popular and long lasting shooters there is. Basically perfected the CS formula, and also peddled gambling to an entire generation of children.</p>
</div>
<div class="r2">
    <p>Get ready to enter the sweatiest competitive shooter on the market. It is meticulously well though out, and a lot of maps feel like they've been precisely engineered for smart players to take full advantage of, but it will take way too much time for you to start pulling consistent frags with it's complex weapon system and spray patterns.</p>
</div>
<div class="r3">
    <p>i understand why people like it but this game is not for me. it was always borning for me.</p>
    </div>
 </div>