@page
@model ValoModel
@{
    ViewData["Title"] = "This is Valorant";
}

<link href="~/css/Valo.css" rel="stylesheet" />

<body>
<h1>@ViewData["Title"]</h1>

<p>Visit the Website of <a href="https://playvalorant.com/en-sg/"> Valorant</a>. to Play and Download the Game</p>

<p>Step into the pulse-pounding universe of Valorant, where precision meets tactics in a high-stakes first-person shooter. Join us as we explore the intense, tactical gameplay of Valorant, where agents showcase their skills, and every shot can be the turning point in a thrilling match.</p>

    <table>
        <tr>
            <td> <img src="~/css/valogp1.jpg" width="300" height="180"> </td>
            <td> <img src="~/css/valogp2.jpg" width="300" height="180"> </td>
        </tr>
        <tr>
            <td> <img src="~/css/valogp3.jpg" width="300" height="180"> </td>
            <td> <img src="~/css/valogp4.jpg" width="300" height="180"> </td>
        </tr>
    </table>
</body>

<div class="bano">
    <h2>The Reviews of Valorant according to Metacritic as of 2023</h2>
<div class="r1">
    <p>i hate this game as much as i hate my friends who are playing this pile of garbage</p>
</div>
<div class="r2">
    <p>Worst Competitive Game i Have Ever Played in my life. BadGame Mechanic and Full of lifeless Smurfs.</p>
</div>
<div class="r3">
    <p>Great First person shooter for free insane good balancing no P2W only forsome verry overpriced skins verry cool to play with friends (550 Hours still Silver Hardstuck).</p>
</div>
</div>